.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

#title {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large
}

* {
    background-color: black;
}

#quote {
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: small;
}

#picture {
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}